* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.navigation-item {
  margin-left: 16px;
}

.content {
  flex-grow: 1;
  display: flex;
}

.dashboard {
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
  display: flex;
}

.aside {
  width: 200px;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.news {
  margin: 16px 0;
  text-align: center;
}

.news-list {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}

.news-item {
  height: 40px;
  margin-left: 16px;
  display: block;
}

.footer {
  height: 40px;
  background-color: green;
  display: flex;
}

.footer-text {
  margin: auto;
}
