html {
  font-size: 24px;
}

div {
  margin: 16px;
  border: 1px solid burlywood;
}

.horizontal > span {
  background-color: aqua;
}
.vertical > span {
  background-color: coral;
}

.horizontal {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vertical {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
