div.block {
  background-color: coral;
  margin: 8px;
  height: 100px;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
